<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fusion Tuition Centre</title>
    <meta name="description" content="Fusion Tuition Centre">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../../backend/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../backend/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../backend/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../backend/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../../backend/vendors/selectFX/css/cs-skin-elastic.css">

    <link rel="stylesheet" href="../../backend/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>



</head>
<body>
<%-include ('../partials/sidebar')%>
<div id="right-panel" class="right-panel">
    <!-- Header-->
     <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <!-- <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a> -->
                <div class="header-left">
                    
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class=" menu-icon fa fa-user" aria-hidden="true"></i> Admin
                    </a>

                   
                </div>

               

            </div>
        </div>

    </header>
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Teacher</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Teacher </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row ">
                <div class="col-md-6 offset-2 col-lg-6 offset-lg-3 div-wrapper justify-content-center align-items-center">

                    <div class="div-to-align">
            
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Update Information</strong>
                        </div>
                        <div class="card-body">
                    <form class="" method="post" action="/updateTeacher/<%=data.teacher_id%>">
                    <div class="form-group">
                        
                        <label for="teacher_name " class=" form-control-label">Teacher Name <span class = "text-danger" >*</label>
                        <input type="text" name="teacherName"  value="<%=data.teachers_name%>"  class="form-control" oninput="myFunction(event)">
                        <p class="text-danger" id="name-error"></p>
                    </div>
                        <div class="form-group"> <label for="address" class="form-label">Address <span class = "text-danger" >*</label>
                            <input type="text" class="form-control" name="address" placeholder="enter a address" value = "<%=data.address%>" oninput="myFunction(event)">
                            <p class="text-danger" id="address-error"></p>
                        </div>
                            <div class="form-group"> <label for="phoneNumber" class="form-label">Contact Number <span class = "text-danger" >*</label>
                                <input type="text" class="form-control" name="phoneNumber" placeholder="Contact Number" value = "<%=data.phone_number%>" oninput="myFunction(event)">
                                <p class="text-danger" id="contact-error"></p>
                              </div>
                             
                             
                              <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-sm">
                                     Update
                                </button>
                                <!-- <button type="reset" class="btn btn-danger btn-sm">
                                     Reset
                                </button> -->
                            </div>
                                    </form>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        
            </div> <!-- .content -->
        </div><!-- /#right-panel -->
        </div>
        </div>
        </div>
        </div>
        </div><!-- .animated -->
        </div><!-- .content -->
        </div><!-- /#right-panel -->
        <!-- Right Panel -->
        
        <script>
            const teacherName = document.getElementById("teacherName");
            const address = document.getElementById("address");
            const phoneNumber = document.getElementById("phoneNumber");
        
            function myFunction(event) {
              const { name, value } = event.target;
              var nameRegex =/^[a-zA-Z\-]+$/;
              var regex = /^\(?\d{3}\)?-?\s*-?\d{4}$/;
              if (name === "teacherName") {
               
                     if(value.length ==""){
                    document.getElementById("name-error").innerText =
                    "Name should not be empty";
                }
                else if(nameRegex.test(value)==false){
                    document.getElementById("name-error").innerText =
                    "Enter a valid username";
                }
                   else if (value.length <= 3) {
                  document.getElementById("name-error").innerText =
                    "Name should be at least 3 characters long";
                } 
                else {
                  document.getElementById("name-error").innerText = "";
                }
              }   if (name === "address") {
                if (value.length == "") {
                  document.getElementById("address-error").innerText =
                    "Address cannot be empty";
                }
                 else {
                  document.getElementById("address-error").innerText = "";
                }
              } if (name === "phoneNumber") {
                  if(value.length == ""){
                    document.getElementById("contact-error").innerText =
                    "Please Enter Contact Number";
                  }
                else if (value.length != 10 && regex.test(value) ==false) {
                  document.getElementById("contact-error").innerText =
                    "Inavalid Contact Number";
                } else {
                  document.getElementById("contact-error").innerText = "";
                }
              }
            }
          </script>
        
        <script src="../../backend/vendors/jquery/dist/jquery.min.js"></script>
        <script src="../../backend/vendors/popper.js/dist/umd/popper.min.js"></script>
        
        <script src="../../backend/vendors/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="../../backend/vendors/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
        
        <script src="../../backend/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../backend/assets/js/main.js"></script>
        </body>
        </html>